---
header:
  overlay_image: /images/highrise.jpg
  overlay_color: "#5e616c"
  overlay_filter: rgba(0, 125, 255, 0.5)
  caption: "Photo by bruce mars on Unsplash"
  actions:
    - label: "<i class='fa fa-envelope'></i> Download a sample chapter"
      url: "/mba_notebook/"
title: The Essential MBA
layout: splash
excerpt: "Get the knoweldge of an MBA in a fraction of the time."
author_profile: false
---

<div class="grid__wrapper">
  {% for post in paginator.posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
