---
header:
  overlay_image: trooper-artist.jpg
  overlay_color: "#5e616c"
  overlay_filter: rgba(0, 125, 255, 0.5)
  caption:
  cta_label: "<i class='fa fa-clock-o'></i> Sign Up Now!"
  cta_url: "https://app.convertkit.com/landing_pages/93821?v=6"
title: Are you buried?
layout: splash
excerpt: 'Spend more time doing what you love.<br/>Get productivity and technology recommendations.<br/>Try it out by starting with the "Email Inbox to Zero" course.'
author_profile: false
note: The picture is from https://unsplash.com/@danielkcheung
feature_row:
  - image_path: post_images/gears.jpg
    alt: "Systems"
    title: "The Three Elements of Productivity"
    excerpt: "Identify the three elements of your system, and see how well you are really doing."
    url: "/three_elements_of_productivity/"
    btn_label: "Read It Now"
  - image_path: post_images/map.jpg
    alt: "Draw Youself to Happiness"
    title: "Draw Your Way to Happiness"
    excerpt: "Drawing can help you connect with your inner desires and help you plan your life and day."
    url: "/draw_your_way_to_happiness/"
    btn_label: "Read It Now"
  - image_path: post_images/alice_cheshire_cat.jpg
    alt: "Alice Getting Directions"
    title: "Where to Start?"
    excerpt: "One of the most difficult things about personal productivity and improvement is knowing where to start."
    url: "/where_to_start/"
    btn_label: "Read It Now"
  - image_path: post_images/colored_clips.jpg
    alt: "Colored Clips"
    title: "Adding Colored Clips"
    excerpt: "Part 3 of designing a game to make tasks fun"
    url: "/adding_colored_clips/"
    btn_label: "Read It Now"
  - image_path: post_images/dice.jpg
    alt: "Choosing a Mechanic"
    title: "Goal Game Mechanics"
    excerpt: "Part 2 of designing a game to make tasks fun"
    url: "/refining_the_idea/"
    btn_label: "Read It Now"
  - image_path: post_images/dancing.jpg
    alt: "Making it fun"
    title: "Enjoy Your Goals"
    excerpt: "Just becasuse you have a lot to do, doesn't mean you shouldn't enjoy it."
    url: "/making_it_fun/"
    btn_label: "Read It Now"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}
