{% if page.image.feature %}
{% assign banner_image = page.image %}
{% else %}
{% assign banner_image = site.data.banner_images[page.layout].image %}
{% endif %}

{% if banner_image %}
  <div class="image-wrap">
  <img src=
    {% if banner_image.feature contains 'http' %}
      "{{ banner_image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ banner_image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if banner_image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ banner_image.creditlink }}">{{ banner_image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
